@import '../../assets/styles/variables';

.wrapper {
	display: flex;
	justify-content: space-between;
	gap: 10px;
	height: 100%;
	width: 100%;
	padding: 20px;
	color: $color_text_two;
	position: relative;

	> .block__deckCard {
		border: 3px solid $color_text_three;
		border-radius: 20px;
		padding: 10px;
		width: 190px;

		> .block__deckCard_title {
			font-size: 30px;
			text-align: center;
			margin-bottom: 10px;
		}

		> .block__deckCard_deck {
			display: flex;
			flex-direction: column;
			gap: 10px;
			height: 93%;
			overflow-y: scroll;
			padding-right: 8px;

			&::-webkit-scrollbar {
				width: 8px;
				border-radius: 10px;
			}
			&::-webkit-scrollbar-track {
				background-color: $color_text_two;
				border: 1px solid $color_text_one;
				border-radius: 10px;
				margin-bottom: 32px;
			}
			&::-webkit-scrollbar-thumb {
				border-radius: 10px;
				background: $color_text_three;
			}

			> .block__createADeck {
				border: 2px dotted $color_text_two;
				border-radius: 5px;
				height: 45px;
				text-align: center;
				padding: 10px;
				background-color: rgba(0, 0, 0, 0);
				color: white;

				&:hover {
					cursor: pointer;
					box-shadow: 0px 0px 15px $color_text_three;
				}
			}
		}
	}

	> .block__card {
		border: 3px solid $color_text_three;
		border-radius: 20px;
		padding: 20px;
		margin: 0px 130px 90px 0px;
		width: 100%;

		> .block__card_title {
			font-size: 40px;
		}

		> .block__card__fullCollection {
			display: flex;
			gap: 20px;
			align-items: center;
			justify-content: center;
			height: 100%;
		}
	}

	> .block__switchCard {
		position: absolute;
		top: 90%;
		left: 45%;
		display: flex;
		gap: 20px;

		> button {
			background-color: $color_text_three;
			border-radius: 10px;
			width: 50px;
			height: 25px;

			&:hover {
				cursor: pointer;
				border: 3px solid $color_text_two;
			}
		}
	}
}
