@import '../../../assets/styles/variables';

.wrapper {
	display: flex;
	justify-content: space-between;
	width: 100%;
	height: 100%;

	> .left-interface {
		background-color: $color_background_one;
		width: 33.87%;
		padding: 15px;
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 20px;

		> .left-interface__block-resources {
			display: flex;

			> .left-interface__block-gold {
				display: flex;
				gap: 10px;
				align-items: center;

				> .gold {
					width: 50px;
				}

				> .numGold {
					font-size: 25px;
				}
			}
		}

		> .left-interface__icon-player {
			width: 150px;

			> img {
				width: 100%;
			}

			> p {
				text-align: center;
			}
		}

		> .left-interface_menu-player {
			> .player-menu__collection {
				margin-bottom: 10px;

				&:last-child {
					margin-bottom: 0;
				}

				&:hover {
					cursor: pointer;
				}
			}
		}

		> .endOfStroke {
			width: 200px;
			height: 50px;
			border-radius: 15px;
			background-color: $end_of_stroke;
			font-size: 20px;
			cursor: pointer;
		}
	}

	> .right-interface {
		width: 33.82%;
		background-color: $color_background_one;
		padding: 15px;

		> .right-interface__button-menu {
			background-color: rgba($color: $color_background_one, $alpha: 0);
			font-size: 25px;
		}

		> .right-interface__menu {
			margin-top: 10px;
			background-color: $color_text_two;
			border-radius: 15px;
			padding: 10px;
			max-width: 280px;

			> li {
				> .right-interface__link {
					color: $color_text_one;
				}
			}
		}
	}
}
