// TODO: COLORS:БУРЫЙ rgb(69, 22, 28); ЗЕЛЕНЫЙ

$color_text_one: black;
$color_text_two: rgb(195, 195, 195);
$color_text_three: rgb(220, 191, 76);
$color_text_four: rgb(61, 110, 52);

$color_text_li_hover: rgb(255, 187, 0);

$shadow_text: 0px 0px 10px rgb(185, 71, 0);
$shadow_text_animation: 0px 0px 10px rgb(237, 36, 0);
$shadow_text_li_hover: 0px 0px 10px rgb(255, 255, 255);

$border_color_card: black;
$end_of_stroke: rgb(192, 0, 0);

$color_background_one: rgb(52, 56, 75);
$background_color_neutral: rgb(108, 108, 91);
$background_color_stark: rgb(162, 162, 162);
$background_color_lannister: rgb(158, 0, 0);
$background_color_targaryen: rgb(32, 0, 0);
$background_color_grayjoy: rgb(0, 0, 0);
$background_color_arren: rgb(39, 75, 143);
$background_color_baratheon: rgb(225, 206, 62);
$background_color_velarion: rgb(107, 177, 239);
$background_color_martel: rgb(195, 138, 40);
$background_color_hightower: rgb(29, 95, 5);

$rarity_card_regular: rgba(rgb(240, 240, 240), 1);
$rarity_shadow_regular: 0px 0px 15px rgba(rgb(255, 255, 255), $alpha: 1);

$rarity_card_rare: rgba(rgb(7, 0, 215), 1);
$rarity_shadow_rare: 0px 0px 15px rgba(rgb(8, 0, 255), $alpha: 1);

$rarity_card_epic: rgba(rgb(107, 0, 215), $alpha: 1);
$rarity_shadow_epic: 0px 0px 15px rgba(rgb(128, 0, 255), $alpha: 1);

$rarity_card_legend: rgba(rgb(215, 147, 0), $alpha: 1);
$rarity_shadow_legend: 0px 0px 15px rgba(rgb(255, 174, 0), $alpha: 1);

$fz_standart: 20px;
$fz_menu: 26px;

$width_window_standart: 1500px;
